<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Nondisturbing <a target="_blank" href="/prep.html">Preparations (Leetcode Top 150)</a></h2>
    <h5>People say<a target="_blank" href="/productivity"> ... </a></h5>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- if site.google_scholar_username -%}
            <li><a target="_blank" class="u-email" href="https://scholar.google.com/citations?user={{ site.google_scholar_username }}">Google Scholar Citations</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

  </div>

</footer>
