<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <h3>Interview Prep (Leetcode Top 150)</h3>
        <table>            
            <tr>
                <td><img src="assets/images/merged-sorted-array.png" alt="Merge Sorted Array"/></td>
                   <td><br><button type="button" class="collapsible">Solution</button><div class="content" id="156">{% highlight python %} 
                class Solution:
                    def merge(self, nums1: List[int], m: int, nums2: List[int], n: int) -> None:
                        """
                        Do not return anything, modify nums1 in-place instead.
                        """
                        i = m - 1
                        j = n - 1
                        k = m + n - 1
                        
                        while j >= 0:
                            if i >= 0 and nums1[i] > nums2[j]:
                                nums1[k] = nums1[i]
                                i -= 1
                            else:
                                nums1[k] = nums2[j]
                                j -= 1
                            k -= 1
 {% endhighlight %}</div></td>
            </tr>
    </body>
</html>
            
